@charset "utf-8";

@font-face {
  font-family: 'Fredoka';
  src: local('Fredoka One');
  src: url('./font/Fredoka One.eot');
  src:
    url('./font/Fredoka One.eot?#font-spider') format('embedded-opentype'),
    url('./font/Fredoka One.woff') format('woff'),
    url('./font/Fredoka One.ttf') format('truetype'),
    url('./font/Fredoka One.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'PingFang SC', 'Microsoft YaHei','微软雅黑', 'SimHei', '黑体', sans-serif;
  background: #efefef;
}
a {
  text-decoration: none;
  color: inherit;
}
.logo {
  float: left;
  font-family: 'Fredoka';
  color: #9a9da2;
  font-size: 30px;
  line-height: 50px;
}
.logo > span {
  color: #e8676b;
  margin-right: 3px;
}
.clearfix::before, .clearfix::after {
  content: " ";
  clear: both;
  display: table;
}
.topNavBarWrapper {
  position: fixed;
  padding: 10px 0;
  width: 100%;
  z-index: 3;
}
.topNavBar {
  height: 50px;
  max-width: 1520px;
  margin: auto;
  padding: 10px 15px;
}
.topNavBar > nav {
  float: right;
}
.topNavBar > nav > ul {
  margin-top: 6px;
  padding: 0;
  text-align: right;
  list-style: none;
  height: 100%;
}
.topNavBar > nav > ul > li {
  display: inline-block;
  margin-left: 30px;
  color: rgba(255, 255, 255, .7);
  font-size: 13px;
  font-weight: bold;
}
.topNavBar > nav > ul > li::after {
  content: " ";
  display: block;
  height: 3px;
  position: relative;
  top: -4px;
  background: #e8676b;
  border-radius: 1.5px;
  width: 0;
  /* transform: scaleX(0);
  -webkit-transform: scaleX(0); */
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.topNavBar > nav > ul > li:hover::after {
  width: 100%;
  /* transform: scaleX(1);
  -webkit-transform: scaleX(1); */
}
.topNavBar > nav > ul > li > a {
  display: block;
  line-height: 1;
  padding: 12px 0;
}
.banner {
  position: relative;
  top:0;
  left:0;
  right: 0;
  height: 515px;
  background: url(./image/banner_bg.jpg) no-repeat center / cover;
}
.banner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(44, 51, 64, 0.8);
}
.container {
  width: 100%;
  max-width: 930px;
  padding: 0 15px;
  margin: auto;
}
.card {
  width: 930px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0,0,0,.12), 0 1px 4px rgba(0, 0, 0, .25);
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.12), 0 1px 4px rgba(0, 0, 0, .25);
}
.profile {
  padding: 57px 50px 15px;
}
.profile hr {
  margin: 25px 0;
  border: none;
  border-top: 1px solid #dedede;
}
.photo {
  float: left;
  margin-right: 60px;
}
.info > h1,
.info > h2 {
  color: #3d4451
}
.info > h1 {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 900;
  margin: 0 0 5px;
}
.info > h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  margin: 0;
}
.info {
  overflow: hidden;
}
.preword {
  margin-bottom: 18px;
}
.welcome {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  padding: 7px 12px;
  margin-bottom: 10px;
  background: #e8676b;
  position: relative;
}
.welcome:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 100%;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent;
  border-left-color: #e8676b;
}
.info dt,
.info dd {
  float: left;
  padding: 5px 0;
}
.info dt {
  width: 30%;
  color: #333;
  font-weight: bold;
}
.info dd {
  width: 70%;
  color: #9da0a7;
  margin: 0;
}

.media {
  padding: 15px 0;
  background: #e8676b;
}
.media > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.media > ul > li {
  display: inline-block;
  margin: 5px 15px;
}
.media > ul > li > a {
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: .25s all ease;
  -moz-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
.media > ul > li > a:hover {
  background: rgba(0, 0, 0, .1)
}
.media svg {
  width: 24px;
  height: 24px;
  fill: #fff;
  vertical-align: middle;
}