@charset "utf-8";

@font-face {
  font-family: 'Fredoka';
  src: local('Fredoka One');
  src: url('./font/Fredoka One.eot');
  src:
    url('./font/Fredoka One.eot?#font-spider') format('embedded-opentype'),
    url('./font/Fredoka One.woff') format('woff'),
    url('./font/Fredoka One.ttf') format('truetype'),
    url('./font/Fredoka One.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Bold';
  src: local('Open Sans');
  src: url('./font/OpenSans-Bold.eot');
  src: 
    url('./font/OpenSans-Bold.eot?#font-spider') format('embedded-opentype'),
    url('./font/OpenSans-Bold.woff') format('woff'),
    url('./font/OpenSans-Bold.ttf') format('truetype'),
    url('./font/OpenSans-Bold.svg') format('svg');
    font-weight: 700;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans');
  src: url('./font/OpenSans-Regular.eot');
  src: 
    url('./font/OpenSans-Regular.eot?#font-spider') format('embedded-opentype'),
    url('./font/OpenSans-Regular.woff') format('woff'),
    url('./font/OpenSans-Regular.ttf') format('truetype'),
    url('./font/OpenSans-Regular.svg') format('svg');
}
body {
  margin: 0;
  font-family: 'Open Sans', 'PingFang SC', 'Microsoft YaHei','微软雅黑', 'SimHei', '黑体', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans Bold";
}
.logo {
  float: left;
  font-family: 'Fredoka';
  color: #9a9da2;
  font-size: 30px;
  line-height: 50px;
}
.logo > span {
  color: #e8676b;
  margin-right: 3px;
}
.clearfix::before, .clearfix::after {
  content: " ";
  clear: both;
  display: table;
}
.topNavBarWrapper {
  position: absolute;
  padding: 10px 0;
  width: 100%;
  z-index: 3;
}
.topNavBar {
  height: 50px;
  max-width: 1520px;
  margin: auto;
  padding: 10px 15px;
}
.topNavBar > nav {
  float: right;
}
.topNavBar > nav > ul {
  margin-top: 6px;
  padding: 0;
  text-align: right;
  list-style: none;
  height: 100%;
}
.topNavBar > nav > ul > li {
  display: inline-block;
  margin-left: 30px;
  color: rgba(255, 255, 255, .7);
  font-family: "Open Sans Bold";
  font-size: 13px;
}
.topNavBar > nav > ul > li::after {
  content: " ";
  display: block;
  height: 3px;
  position: relative;
  top: -4px;
  background: #e8676b;
  border-radius: 1.5px;
  width: 0;
  /* transform: scaleX(0);
  -webkit-transform: scaleX(0); */
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.topNavBar > nav > ul > li:hover::after {
  width: 100%;
  /* transform: scaleX(1);
  -webkit-transform: scaleX(1); */
}
.topNavBar > nav > ul > li > a {
  display: block;
  line-height: 1;
  padding: 12px 0;
}
.banner {
  position: relative;
  top:0;
  left:0;
  right: 0;
  height: 515px;
  background: url(./image/banner_bg.jpg) no-repeat center;
}
.banner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(44, 51, 64, 0.8);
}
.container {
  width: 100%;
  max-width: 930px;
  padding: 0 15px;
  margin: auto;
}
.card {
  width: 930px;
  height: 528px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0,0,0,.12), 0 1px 4px rgba(0, 0, 0, .25);
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.12), 0 1px 4px rgba(0, 0, 0, .25);
}
.profile {
  padding: 57px 50px 15px;
}
.info > h1 {
  color: #3d4451
}