@charset "utf-8";

@font-face {
  font-family: 'Fredoka';
  src: local('Fredoka One');
  src: url('./font/Fredoka One.eot');
  src:
    url('./font/Fredoka One.eot?#font-spider') format('embedded-opentype'),
    url('./font/Fredoka One.woff') format('woff'),
    url('./font/Fredoka One.ttf') format('truetype'),
    url('./font/Fredoka One.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'PingFang SC', 'Microsoft YaHei','微软雅黑', 'SimHei', '黑体', sans-serif;
  background: #efefef;
}
a {
  text-decoration: none;
  color: inherit;
}
.logo {
  float: left;
  font-family: 'Fredoka';
  color: #9a9da2;
  font-size: 30px;
  line-height: 50px;
}
.logo > span {
  color: #e8676b;
  margin-right: 3px;
}
.clearfix::before, .clearfix::after {
  content: " ";
  clear: both;
  display: table;
}
.header {
  margin-bottom: 40px;
}
.topNavBarWrapper {
  position: relative;
  padding: 10px 0;
  width: 100%;
  z-index: 3;
  color: rgba(255, 255, 255, .7);
  transition: all .4s ease-out
}
.topNavBarWrapper.sticky {
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
  color: #3d4451;
  padding: 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .19), 0 6px 10px rgba(0, 0, 0, .23);
}
.topNavBarWrapper.sticky > .topNavBar {
  height: 40px;
}
.topNavBarWrapper.sticky > .topNavBar .logo {
  line-height: 40px;
}
.topNavBarWrapper.sticky > .topNavBar > nav > ul > li > a {
  line-height: 16px;
}
.topNavBar {
  height: 50px;
  max-width: 1520px;
  margin: auto;
  padding: 10px 15px;
}
.topNavBar > nav {
  float: right;
  height: 100%;
}
.topNavBar > nav > ul {
  margin: 0;
  padding: 0;
  text-align: right;
  list-style: none;
  height: 100%;
}
.topNavBar > nav > ul > li {
  display: inline-block;
  height: 100%;
  margin-left: 30px;
  font-size: 13px;
  font-weight: bold;
  position: relative;
}
.topNavBar > nav > ul > li::after {
  content: " ";
  display: block;
  height: 3px;
  position: relative;
  top: -4px;
  background: #e8676b;
  border-radius: 1.5px;
  width: 0;
  /* transform: scaleX(0);
  -webkit-transform: scaleX(0); */
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.topNavBar > nav > ul > li:hover::after {
  width: 100%;
  /* transform: scaleX(1);
  -webkit-transform: scaleX(1); */
}
.topNavBar > nav > ul > li > a {
  display: block;
  line-height: 26px;
  padding: 12px 0;
}
.topNavBar .submenu {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 100%;
  left: 0;
  list-style: none;
  white-space: nowrap;
}
.topNavBar .submenu.active {
  display: block;
}

.banner {
  position: absolute;
  top:0;
  left:0;
  right: 0;
  height: 515px;
  background: url(./image/banner_bg.jpg) no-repeat center / cover;
}
.banner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(44, 51, 64, 0.8);
}
.container {
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 930px;
  padding: 0 15px;
  margin: auto;
}
.section.about {
  padding-top: 40px;
}
.section {
  padding-top: 70px;
}

.profile {
  padding: 57px 50px 15px;
}
.profile hr {
  margin: 25px 0;
  border: none;
  border-top: 1px solid #dedede;
}
.photo {
  float: left;
  margin-right: 60px;
}
.info > h1,
.info > h2 {
  color: #3d4451
}
.info > h1 {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 900;
  margin: 0 0 5px;
}
.info > h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
  margin: 0;
}
.info {
  overflow: hidden;
}
.preword {
  margin-bottom: 18px;
}
.welcome {
  display: inline-block;
  color: #fff;
  line-height: 1.1;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 12px;
  margin-bottom: 10px;
  background: #e8676b;
  position: relative;
}
.welcome:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 100%;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent;
  border-left-color: #e8676b;
}
.info dt,
.info dd {
  float: left;
  padding: 5px 0;
}
.info dt {
  width: 30%;
  color: #333;
  font-weight: bold;
}
.info dd {
  width: 70%;
  color: #9da0a7;
  margin: 0;
}

.media {
  padding: 15px 0;
  background: #e8676b;
}
.media > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.media > ul > li {
  display: inline-block;
  margin: 5px 15px;
}
.media > ul > li > a {
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: .25s all ease;
  -moz-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
.media > ul > li > a:hover {
  background: rgba(0, 0, 0, .1)
}
.media svg {
  width: 24px;
  height: 24px;
  fill: #fff;
  vertical-align: middle;
}
.profileText {
  margin-top: 30px;
  text-align: center;
  line-height: 1.8;
  font-size: 20px;
}
.profileText p {
  margin: 0;
  color: #3d4451;
}
.profileText p:first-child {
  margin-bottom: 25px;
}
.profileText p > a {
  display: inline-block;
  line-height: 1.1;
  padding: 15px 55px;
  letter-spacing: 0.05em;
  margin: 5px;
  border: 1px solid #cbcdcf;
  font-size: 18px;
  font-weight: bolder;
  transition: all .3s ease;
}
.profileText p > a:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}
.section-title {
  margin: 0 0 25px 0;
  text-align: center;
  color: #3d4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
}
.section-box {
  padding: 40px 50px;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0,0,0,.12), 0 1px 4px rgba(0, 0, 0, .25);
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.12), 0 1px 4px rgba(0, 0, 0, .25);
}
.about .section-box {
  padding: 0;
}
.row {
  margin: 0 -15px 0;
}
.section-box .row .col {
  width: 50%;
  padding: 0 15px;
  box-sizing: border-box;
  float: left;
}
.progress-bar {
  margin-bottom: 40px;
}
.bar-title {
  display: block;
  line-height: 1.1;
  font-size: 14px;
  margin-bottom: 5px;
  color: #3d4451;
}
.bar-line {
  background: rgba(232, 103, 107, .2);
  border-radius: 5px;
}
.bar-line span {
  display: block;
  border-radius: 5px;
  height: 5px;
  background: #e8676b;
}
.row:last-child .progress-bar {
  margin-bottom: 0;
}
.filter {
  text-align: center;
  margin-bottom: 30px;
}
.filter-inner {
  display: inline-block;
}
.filter-btn-group button {
  cursor: pointer;
  outline: none;
  border: none;
  margin: 0 20px 0 0;
  padding: 0 12px;
  background: none;
  color: #3d4451;
  font-size: 13px;
  font-weight: 600;
  font-family: 'PingFang SC', 'Microsoft YaHei','微软雅黑', 'SimHei', '黑体', sans-serif;
}
.filter-btn-group button:first-child {
  padding-left: 0;
}
.filter-btn-group button:last-child {
  padding-right: 0;
  margin: 0;
}
.filter-bar {
  background: #fff;
  border-radius: 5px;
  margin-top: 10px;
}
.filter-bar span {
  display: block;
  position: relative;
  height: 5px;
  background: #e8676b;
  border-radius: 5px;
  transition: all .4s ease;
}
.pf-grid-item {
  float: left;
  padding: 0 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.pf-grid-item .pf-item-bg {
  height: 100%;
}
.size2 {
  width: 66.666%;
  height: 576px;
}
.size1 {
  width: 33.333%;
  height: 278px;
}
